* {
    /* Custom colors */
    --amethyst: rgb(137, 99, 186);
    --auburn: rgb(162, 44, 41);
    --avocado: rgb(68, 118, 4);
    --jet: rgb(43, 44, 40);
    --moonstone: rgb(94, 186, 200);
    --night: rgb(19, 21, 21);
    --papaya-whip: rgb(249, 236, 204);
    font-family: 'Roboto Mono';
}

body {
    height: 100vh;
    margin: 0;
    /* Prevents users from scrolling */
    overflow: hidden;
}

h1,
h2,
h3 {
    /* Disables default header stylings */
    font-weight: normal;
    margin: 0;
}


button {
    background: none;
    border: none;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.2s ease-out all;
    font-weight: 500;
}
button:hover {
    box-shadow: 0 2px 6px rgb(0, 0, 0);
    transform: scale(1.05);
}
button:active {
    box-shadow: 0 2px 2px rgb(0, 0, 0);
    transform: scale(1);
}


.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}


.title {
    cursor: pointer;
    font-size: 2.9rem;
    margin: 0 0 4rem 0;
    transition: .2s ease-out all;
    width: 0px;
}
.title:hover {
    transform: scale(1.05);
}
.title:active {
    transform: scale(1);
}


.sidebar {
    background-color: var(--moonstone);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    /* Sidebar spans from the first row to the third (excluded), meaning it covers the first and second rows */
    grid-row: 1 / 3;
    padding: 1.6rem 0 2.6rem 2rem;
    width: 20vw;
    /* Ensures header' box-shadow doesn't appear over sidebar */
    z-index: 1000;
}
.sidebar-middle span,
.sidebar-bottom span {
    margin: 0.8rem 0 0 0;
}
.sidebar-bottom {
    margin-top: auto;
}
.sidebar-link {
    display: block;
    font-size: 1.2rem;
    transition: .2s ease-out all;
    width: 0px;
    
    /* With a width of 0, we can now click the text without the entire span being clickable */
}
.sidebar-link:hover {
    color: var(--amethyst);
    cursor: pointer;
}
.sidebar-link span {
    display: inline-block;
}
.concede,
.settings {
    font-weight: 700;
}


.header {
    background-color: var(--jet);
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    display: grid;
    gap: 1rem;
    /* Header starts from the second column */
    grid-column: 2 / 4;
    /* Header is on the first row */
    grid-row: 1;
    padding: 1rem 1.6rem;
    /* Ensures box shadow displays by placing header at the top of the stacking order */
    z-index: 999;
}
.header-bottom,
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-top-left,
.header-top-right {
    align-items: center;
    display: flex;
    gap: 10px;
}
.initiate-button,
.counter-button {
    background-color: var(--amethyst);
    border-radius: 6px;
    font-size: 1.2rem;
    height: 3.2rem;
    width: 9rem;
}


.search-bar {
    background-color: var(--papaya-whip);
    border-radius: 20px;
    border: 2.6px solid transparent;
    box-sizing: border-box;
    caret-color: transparent;
    color: var(--jet);
    font-size: .9rem;
    height: 2.4rem;
    padding: .8rem;
    transition: all .2s ease-out;
    width: 38rem;
}
.search-bar:focus {
    border-color: var(--moonstone);
    outline: none;
}
.search-bar-icon {
    fill: var(--moonstone);
    height: 30px;
}


.avatar {
    border-radius: 50%;
    border: var(--amethyst) solid 2px;
    box-shadow: 0 2px 2px rgb(0, 0, 0);
    cursor: pointer;
    height: 60px;
    transition: 0.2s ease-out all;
    width: 60px;
}
.avatar:hover {
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    transform: scale(1.04);
}
.avatar:active {
    transform: scale(1);
}


.user-full-name {
    color: var(--papaya-whip);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 800;
    transition: 0.2s ease-out all;
}
.user-full-name:hover {
    color: var(--amethyst);
}
.user-full-name:active {
    transform: scale(.97);
}


.greetings-message {
    color: rgb(249, 236, 204);
    font-size: 1.6rem;
    font-weight: 500;
}


.section-title {
    color: var(--moonstone);
    font-size: 2.4rem;
    font-weight: 500;
}
.card-title {
    color: var(--amethyst);
    font-size: 1.6rem;
}


.main {
    display: grid;
    /* Main content starts from the second column */
    grid-column: 2 / 4;
    /* Main content is on the second row */
    grid-row: 2 / 3;
    grid-template-columns: 3fr 1fr;
    /* Allows for smooth scrolling */
    overflow-y: auto;
    background-color: var(--night);
}


.card-container {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 1.6rem 2.6rem 1.6rem;
}
.card-container .card {
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-between;
    transition: .2s ease-out all;
    width: 1fr;
}
.card-container .card:hover {
    box-shadow: 0 2px 16px rgb(0, 0, 0);
    transform: scale(1.02);
}


.card {
    border-radius: 10px;
}
.sectors .card {
    background-color: var(--jet);
}
.card-stats {
    display: flex;
    justify-content: flex-end;
}
.card-icon {
    width: 1.4rem;
}


.right-main-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 0 2.6rem 0;
}


/* Box shadow for the two additional sections */
.announcements .announcement-card,
.trending .trending-card {
    box-shadow: 0 2px 10px rgb(0, 0, 0);
}
.announcement-title,
.trending-title {
    padding: 2.4rem 0 1rem 0;
}
.sectors-title {
    padding: 2.4rem 1.6rem 1rem 1.6rem;
}
.announcements,
.trending {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0 1.6rem 0 0;
}
.announcement-card {
    background-color: var(--jet);
    box-sizing: border-box;
    color: var(--amethyst);
    height: 100%;
}
.announcements .card,
.trending .card,
.sectors .card {
    padding: 1rem;
}
.announcement-card.card,
.trending-content {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.announcement-msg,
.trending-msg {
    color: var(--papaya-whip);
}
.announcement-text,
.trending-text {
    font-size: .9rem;
}
.trending-card {
    background-color: var(--jet);
}
.separator {
    border-top: 1px solid var(--papaya-whip);
    display: block;
    margin: .1rem 0;
}



.stats-info {
    font-weight: 800;
}
.negative-status {
    color: var(--auburn);
}
.positive-status {
    color: var(--avocado);
}