* {
    font-family: 'Roboto Mono';

    /* Custom colors */
    --amethyst: rgb(137, 99, 186);
    --moonstone: rgb(94, 186, 200);
    --jet: rgb(43, 44, 40);
    --night: rgb(19, 21, 21);
    --avocado: rgb(68, 118, 4);
    --auburn: rgb(162, 44, 41);
    --papaya-whip: rgb(249, 236, 204);
}

body {
    margin: 0;
    /* height: 100vh; */
    /* Prevents users from scrolling */
    overflow: hidden;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: normal;
}

button {
    background: none;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--moonstone);
    grid-column: 1;
    grid-row: 1 / 3;  /* sidebar spans from the first row to the third (excluded), meaning it covers the first and second rows */
    padding: 1.6rem 0 2.6rem 2rem;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 4rem 0;
    font-size: 2.4rem;
}

.sidebar-middle,
.sidebar-bottom {
    /* margin: 0 0 12rem 0; */
    font-size: 1.2rem;
}

.sidebar-middle div,
.sidebar-bottom div {
    margin: 0.8rem 0 0 0;
}

.sidebar-bottom {
    margin-top: auto;
}

.header {
    background-color: var(--jet);
    grid-column: 2 / 4;  /* header starts from the second column */
    grid-row: 1;  /* header is on the first row */
    display: grid;
    padding: 1rem 1.6rem;
    gap: 1rem;
}

.header-bottom,
.header-top {
    display: flex;
}

.header-top {
    justify-content: space-between; /* iMPLEMENT OPPOSITE SIDES */
    align-items: center;
}
.header-top-left,
.header-top-right {
    gap: 10px;
    display: flex;
}

.header-top-right {
    align-items: center;
    justify-content: center;
}
.user-full-name {
    font-weight: 800;
    color: var(--papaya-whip);
    font-size: 1.2rem;
}

.section-title {
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--moonstone);
}
.card-title {
    font-size: 1.6rem;
    color: var(--amethyst);
}

.header-bottom {
    justify-content: space-between;
    align-items: center;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.search-bar {
    width: 38rem;
    border: 1px solid rgb(0,0,0,.0);
    box-sizing: border-box;
    background-color: var(--papaya-whip);
    color: var(--jet);
    transition: all .16s ease-out;
    border-radius: 20px;
    caret-color: transparent;
    height: 30px;
    padding: .8rem;
}
.search-bar:focus {
    outline: solid rgb(94, 186, 200);
    /* box-shadow: 0 0 5px rgb(0,0,0,.3); */
}

.main {
    background-color: rgb(172, 147, 47);
    display: grid;
    grid-column: 2 / 4;  /* main content starts from the second column */
    grid-row: 2 / 3;  /* main content is on the second row */
    grid-template-columns: 3fr 1fr;
    /* Allows for smooth scrolling */
    overflow-y: auto;
}

.sectors .card {
    background-color: var(--jet);
}
.sectors {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding: 2.6rem 1.6rem; */
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    padding: 0 1.6rem 2.6rem 1.6rem;
}
.card-container .card {
    width: 1fr;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-stats {
    display: flex;
    justify-content: flex-end;
}

.card-icon {
    width: 1.4rem;
}

.right-main-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 0 2.6rem 0;
}

.main {
    background-color: var(--night);
}
.announcement-title,
.trending-title {
    padding: 2.4rem 0 1rem 0;
}
.sectors-title {
    padding: 2.4rem 1.6rem 1rem 1.6rem;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 0 1.6rem 0 0;
}
.announcement-card {
    background-color: var(--jet);
    box-sizing: border-box;
    height: 100%;
    color: var(--amethyst);
}
.announcements .card,
.trending .card,
.sectors .card {
    padding: 1rem;
}
.announcement-card.card,
.trending-content {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.trending-card {
    background-color: var(--jet);
}

.card {
    border-radius: 10px;
}

/* TEMPORARY */
.greetings-message {
    color: rgb(249, 236, 204);
    font-weight: 500;
    font-size: 1.6rem;
}

.play-button {
    width: 80px;
    height: 50%;
}

.search-bar-icon {
    height: 30px;
    fill: var(--moonstone);
}


.stats-info {
    font-weight: 800;
}
.negative-stat {
    color: var(--auburn);
}
.positive-stat {
    color: var(--avocado);
}

.concede,
.settings {
    font-weight: 700;
}

.negative-status {
    color: var(--auburn);
}
.positive-status {
    color: var(--avocado);
}
.announcement-msg,
.trending-msg {
    color: var(--papaya-whip);
}
.announcement-text,
.trending-text {
    font-size: .9rem;
}

.separator {
    display: block;
    border-top: 1px solid var(--papaya-whip); /* Change color to match your design */
    margin: .1rem 0;
}

.initiate-button,
.counter-button {
    background-color: var(--amethyst);
    border-radius: 6px;
    width: 9rem;
    height: 3.2rem;
    font-size: 1rem;
}